[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-annoying = "*"
django-env = "*"
whitenoise = "*"
gunicorn = "*"
pillow = "*"
django-imagekit = "*"
boto3 = "*"
django-storages = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
